/****************************************************************
    YOUR MAIN STYLESHEET
 ****************************************************************/

// PARTIALS
@import 'partials/vars-mixins';

 
// GENERAL
*, *::before, *::after{
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-fam;
  color: $font-col;
  background: $back-col;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header{
  position: relative;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 10px solid #fff;
  &::before, &::after{
    position: absolute;
    top: 0;
    font-size: 24em;
    font-weight: normal;
    line-height: 0.95;
  }
  &::before{
    content: '{';
    left: -9rem;
  }
  &::after{
    content: '}';
    right: -9rem;
  }
  .fa-cog{
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    line-height: 58px;
    font-size: 1.8em;
    color: #bbb;
    background: $back-col;
    border: 1px solid #ddd; 
    border-radius: 50%;
    animation: rotateMe 3s linear infinite;
  }
}

@keyframes rotateMe {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1{
  margin-top: 3rem;
}
ul{
  list-style-type: none;
  margin: 3.35rem 0;
  padding: 0;
  li{
    margin: 0;
    padding: 0 0 1rem;
  }
}


@media all and (max-width: 650px) {
  header{
    &::before, &::after { display: none; }
  }
}
